@charset "utf-8";
/* CSS Document */


canvas {
        border: 1px dashed red;
		position:relative;
		left: 50;
		top: 20;
        /*background-color: #DDD;
        border-radius: 30px;
        opacity: 1;*/
    }
	
button {
	width: 200px;
}

#divLeft {
	position:relative; 
	top:20; 
	left:190;
}

#divRight {
	position:relative; 
	top:-15; 
	left:280;
}

#divControls {
	top:-450; 
	left:470; 
    position:relative;
}


