@charset "utf-8";
/* CSS Document */


canvas {
        border: 1px dashed red;
		position:relative;
		left: 50;
		top: 20;
    }
	
button {
	width: 200px;
}

#divLeft {
	margin-left: 160px;
	float: left;
	position:relative; 
	top:20; 
	left:190;
}

#divRight {
	margin-left: 20px;
	float: left;
	position:relative; 
	top:-15; 
	left:280;
}

#divCanvas {
	float: left;
	position: relative;
}

#divControls {
	margin-left: 10px;
	top:-450; 
	left:470; 
	position:relative;
        float: left;
}


